.about-us{
    @media (max-width: 990px) {
        background: #fff;
    }
    .container {
        max-width: 1400px;
    }
}

.about-us-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    @media (max-width: 990px) {
       grid-template-columns: 1fr;
    }
}

.about-img-box {
    padding: 5px 10px;
    position: relative;
    right: -70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    @media (max-width: 990px) {
        display: none;
    }
    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        position: relative;
    }
}

.desk-text {
    @media (max-width: 990px) {
        display: none;
    }
}

.mob-text {
    display: none;
    @media (max-width: 990px) {
        display: block;
    }
}

.about-img-box-sm {
    display: none;
    @media (max-width: 990px) {
        padding: 7px 20px;
        position: relative;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-bottom: 15px;
        margin-top: -20px;
    }
    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        position: relative;
    }
}

.about-info-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    padding: 30px 70px 30px 100px;
    @media (max-width: 1280px) {
        height: auto;
    }
    @media (max-width: 990px) {
        height: auto;
        padding: 20px 0;
    }
    .title-xl {
        margin-bottom: 20px;
        @media (max-width: 990px) {
            text-align: center;
        }
    }
    .text-simple {
        font-size: 1.1rem;
        line-height: 30px;
        margin-bottom: 20px;
        text-align: justify;
        @media (max-width: 990px) {
            font-size: .95rem;
            line-height: 22px;
            text-align: justify;
        }
    }
}


.about-page {
    @media (max-width: 990px) {
        background: transparent;
    }
    .about-img-box {
        position: relative;
        top: -10px;
        @media (max-width: 990px) {
            display: block;
            right: 0;
            margin: 0 auto;
            margin-bottom: -15px;
            height: auto;
            width: 250px;
            z-index: 99;
            top: 0;
        }
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            @media (max-width: 990px) {
                height: auto;
            }
        }
    }
    .about-info-box {
        justify-content: flex-start;
        @media (max-width: 990px) {
            position: relative;
            &::before {
                content: '';
                height: 100%;
                width: 200%;
                background: #fff;
                position: absolute;
                left: -20%;
                top: 0;
            }
        }
    }
    .title-xl {
        margin-bottom: 30px;
        text-align: center;
        @media (max-width: 990px) {
            z-index: 9;
            position: relative;
        }
    }
    .about-info-box {
        padding: 30px 50px 30px 110px;
        height: auto;
        @media (max-width: 990px) {
            padding: 35px 0;
        }
    }
    .about-title {
        color: #1A1A1A;
        margin-bottom: 5px;
        font: bold 1.8rem 'Merriweather Sans', sans-serif;
        @media (max-width: 990px) {
            text-align: center;
            font-size: 1.4rem;
            position: relative;
            z-index: 9;
        }
    }
    .about-title-sm {
        color: #1A1A1A;
        margin-bottom: 15px;
        font: bold 1.2rem 'Merriweather Sans', sans-serif; 
        @media (max-width: 990px) {
            text-align: center;
            font-size: 1.125rem;
            line-height: 24px;
            position: relative;
            z-index: 9;
        }
    }
    .text-simple {
        font-size: 1.1rem;
        line-height: 30px;text-align: justify;
        @media (max-width: 990px) {
            font-size: .95rem;
            line-height: 22px;
            text-align: justify;
        }
    }
    p {
        position: relative;
        z-index: 9;
    }
}

.about-us-achievements {
    display: flex;
    align-items: center;
    text-align: center;
    .achievements-box {
        margin-right: 35px;
    }
    .num {
        color: #EF1434;
        font: bold 3.1rem 'Montserrat', sans-serif;
        margin-bottom: 5px;
    }
    .info {
        font: bold 1.2rem 'Merriweather Sans', sans-serif;
    }
}

.achievements-desk {
    @media (max-width: 990px) {
        display: none;
    }
}

.achievements-mob {
    display: none;
    @media (max-width: 990px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
    }
    @media (max-width: 360px){
        justify-content: space-between;
    }
    .achievements-box {
        margin: 0;
    }
    .num {
        font: bold 1.875rem 'Montserrat', sans-serif;
        color: #1A1A1A;
    }
    .info {
        font: bold .95rem 'Merriweather Sans', sans-serif;
    }
}

.about-info-2 {
    position: relative;
    right: -20px;
    .container {
        max-width: 1320px;
    }
    @media (max-width: 990px) {
        background: #fff;
        right: 0;
    }
}

.about-info-2-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    @media (max-width: 990px) {
        display: flex;
        flex-direction: column-reverse;
    }
    .about-info-2-info {
        padding: 35px 120px 35px 50px;
        background: #fff;
        width: 90%;
        @media (max-width: 990px) {
            width: auto;
            padding: 20px 0;
        }
    }
    .text-simple {
        font-size: 1.2rem;
        line-height: 30px;
        text-align: justify;
        @media (max-width: 990px) {
            font-size: .95rem;
            line-height: 22px;
            text-align: justify;
        }
    }
    .about-info-2-img {
        position: relative;
        right:-10px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 1280px) {
            right: 0;
        }
        @media (max-width: 990px) {
            right: 0;
            padding-top: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;
            position: relative;
        }
    }
}


.about-info-3 {
    position: relative;
    left: 0;
    .container {
        max-width: 1320px;
    }
    @media (max-width: 990px) {
        background: #fff;
        right: 0;
    }
    .text-simple {
        font-size: 1.2rem;
        line-height: 30px;
        text-align: justify;
        @media (max-width: 990px) {
            font-size: .95rem;
            line-height: 22px;
            text-align: justify;
        }
    }
}

.about-info-3-container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    @media (max-width: 990px) {
        display: flex;
        flex-direction: column;
    }
    .about-info-3-info {
        padding: 35px 45px 35px 80px;
        background: #fff;
        width: auto;
        position: relative;
        left: 0;
        @media (max-width: 1200px) {
            width: 550px;
        }
        @media (max-width: 1100px) {
            width: 450px;
        }
        @media (max-width: 990px) {
            width: auto;
            padding: 20px 0;
        }
    }
    .about-info-3-img {
        position: relative;
        height: 620px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -50px;
        z-index: 9;
        @media (max-width: 990px) {
            height: auto;
            right: 0;
            padding-top: 20px;
        }
        img {
            max-width: 100%;
            height:auto;
            object-fit: contain;
            position: relative;
        }
    }
}

.punkt-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 990px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .punkt-box {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @media (max-width: 990px) {
            margin-bottom: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    .punkt-box:last-child{
        @media (max-width: 990px) {
            margin-bottom: 0;
        }
    }
    p {
        font-size: 1.2rem;
        font-weight: bold;
        height: 50px;
        padding-left: 35px;
        position: relative;
        @media (max-width: 1200px) {
            font-size: 1rem;
        }
        @media (max-width: 990px) {
            height: auto;
            padding: 0;
        }
        &::before {
            content: '';
            height: 25px;
            width: 25px;
            background: #EF1434;
            display: block;
            border-radius: 50%;
            position: absolute;
            left: 0;
            @media (max-width: 990px) {
                display: none;
            }
        }
    }
    span {
        @media (max-width: 990px) {
            height: 25px;
            width: 25px;
            background: #EF1434;
            display: block;
            border-radius: 50%;
            margin-bottom: 10px;
        }
    }
}