.btn-simple {
    border: 2px solid #1A1A1A;
    box-sizing: border-box;
    padding: 15px 30px;
    color: #1A1A1A;
    cursor: pointer;
    transition: .3s;
    display: inline-block;
    font: 500 1rem 'Merriweather Sans', sans-serif;
    &:hover {
        background: #1A1A1A;
        color: #fff;
    }
}

.btn-red {
    font: 500 1rem 'Merriweather Sans', sans-serif;
    background: #EF1434;
    color: #fff;
    padding: 15px 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    &:hover {
        background: rgb(172, 25, 47);
    }
}

.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.read-link {
    font: 500 1.125rem 'Merriweather Sans', sans-serif;
    color: #1A1A1A;
    text-decoration-line: underline;
    @media (max-width: 990px) {
        font-size: 1rem;
    }
}